body {
  background-color: rgba(211, 211, 211, 0.589);
}
.main{
    padding-top: 15px;
    font-size: 18px;
    font-weight:450;
    background-color: rgba(211, 211, 211, 0.589);
}
.mainText {
  margin-top: 40px;
  align-items: center;
  text-align: center;
}
.mainText-main {
  margin-top: 20px;
  align-items: center;
  text-align: center;
  font-size: 20px;
}
.carousel .carousel-item {
    height: 485px;
    opacity: 0.7;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }
  .whiteTitle {
     margin-bottom: 20px;
  }
  .whiteP {
    margin-bottom: 40px;
  } 
  .carousel-caption{
    background-color:rgba(0, 0, 0, 0.589)
  }

  .navbar-nav {
    margin-left: 100px;
}

.carousel-control-prev {
  margin-top: 250px;
}

.carousel-control-next {
  margin-top: 250px;
}